<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Elevate Admin</title>
    <link rel="stylesheet" href="/CSS/adminlogin.css">
</head>
<body>
   
    <div class="login-container">
        <div class="login-card">
            <% if (error) { %>
                <div class="error-msg"> 
                    <%= error %>
                </div>
            <% } %>
            <div class="logo">
                <img src="/images/mentor_another_logo-removebg-preview.png" alt="Logo">
            </div>
            <h1>Career Elevate Admin</h1>
            <p class="welcome-text">Welcome back! Please login to your account.</p>
            
            <form class="login-form" id="loginForm"  method="POST" action="/adminlogin">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <div class="input-wrapper">
                        <input type="email" id="email" name="email" placeholder="Enter your email">
                        <span class="error-message" id="emailError"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-wrapper">
                        <input type="password" id="password"  name="password" placeholder="Enter your password">
                        <!-- <button type="button" class="toggle-password" id="togglePassword">
                            <img src="https://raw.githubusercontent.com/stackblitz/stackblitz-icons/master/files/eye.svg" alt="Show password" width="20" height="20" id="eyeIcon">
                        </button> -->
                        <span class="error-message" id="passwordError"></span>
                    </div>
                </div>
                
                <div class="form-options">
                    <label class="remember-me">
                        <input type="checkbox" id="remember">
                        <span>Remember me</span>
                    </label>
                    <a href="#" class="forgot-password">Forgot Password?</a>
                </div>
                
                <button type="submit" class="login-button">Login</button>
            </form>
            
            <p class="support-text">
                Having trouble logging in? <a href="#" class="support-link">Contact Support</a>
            </p>
        </div>
    </div>
    <script src="/JS/adminlogin.js"></script>
</body>
</html>
